[Unit]
Description=Recursive rewriting using feedback
After=network.target

[Service]
WorkingDirectory=/home/max/recurt
ExecStart=/home/max/recurt/recurt
Restart=always

[Install]
WantedBy=multi-user.target

